<?xml version="1.0"?>
<launch>

  <!-- start ucar ctrlr node -->
  <!-- <node pkg="cob_platform" type="cob_platform" name="cob_platform" cwd="node" output="screen"/> -->
  <!-- Syntax: node pkg=<name of package> type=<name of binary> name=<name during execution> ns=<name of target namespace> cwd=<name of working direcory - in which it shalll be executed> outpu=<where to display logs - (screen = this console)>-->
  <include file="$(find cob_undercarriage_control)/ros/launch/cob_undercarriage_geom.launch" />
  
  <!-- start base_drive_chain and locate IniFiles -->
  <node pkg="cob_base_drive_chain" type="cob_base_drive_chain_node" name="base_drive_chain" ns="base_driver" respawn="false" output="screen"/>
  <!-- set parameters to parameter server -->
  <param name="IniDirectory" value="$(find cob_platform)/ros/bin/Platform/IniFiles/"/>

  <!-- start Relaysboard node -->
  <node pkg="cob_relayboard" type="cob_relayboard_node" name="relayboard" ns="base_driver" output="screen"/>
  <!-- set parameters to parameter server --> <!-- assign ComPort from which relaybord is read -->
  <param name="base_driver/ComPort" value="/dev/ttyUSB0"/>

  <!-- -->
  <node pkg="cob_drive_identification" type="drive_identification_node" name="drive_identification_node" ns="drive_identification" respawn="false" output="screen">
  </node> 
</launch>
